/* TAMBAHAN */
.docs_download {
    color: #4a81d4 !important;
    transition: all 0.25s ease-in;
}

.docs_download:hover {
    color: rgb(19, 136, 113) !important;
}

#info_cont p, #info_cont ol {
    margin: 0 !important;
}

.cutom-color.success input:checked {
    background-color: #4a81d4;
    border-color: #4a81d4;
}

.select2-dropdown .select2-results .select2-results__option.select2-results__option--highlighted,
.select2-dropdown .select2-results .select2-results__option.select2-results__option--highlighted:hover {
    background: #4a81d4;
    color: #000;
}

.select2-selection__rendered {
    width: 95%;
}

.table-condensed tbody tr td .year.active.focused, .table-condensed tbody tr td .year.active.focused:hover, .table-condensed tbody tr td .month.active.focused, .table-condensed tbody tr td .month.active.focused:hover {
    background-color: #4a81d4 !important;
}

.datepicker table tr td.active {
    background-color: #4a81d4 !important;
}

.datepicker table tr td.active:hover {
    background-color: #4a81d4 !important;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

    select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
        background: #eee;
        box-shadow: none;
    }

    select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
        display: none;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 991.98px) {
    body {
        padding-bottom: 0px !important;
    }
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #4a81d4 !important;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.select2-search--inline {
    display: contents;
}

.select2-search__field:placeholder-shown {
    width: 100% !important;
}

/* */

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 30px solid #fff;
    border-color: #4a81d4 transparent #4a81d4 transparent;
    animation: lds-hourglass 1.2s infinite;
}

#spinner {
    display: block;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.img_loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 125px;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}
